repos:
#   - repo: https://github.com/astral-sh/ruff-pre-commit
#     rev: v0.6.9
#     hooks:
#       - id: ruff
#         args: [--fix]

#       - id: ruff-format

  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: python -m pytest --cov=config --cov-report=term-missing
        language: python
        additional_dependencies:
            - pytest
            - pytest-cov
            - pytest-mock
        pass_filenames: false
